include ../header.jade
html
    head
        link(rel='stylesheet',href='/css/basic.css')
        link(rel='stylesheet',href='/css/orderForm.css')
    body
        .container
            .pay-header
                img(src="/img/util/check.png", alt="")
                span 주문정보 확인
            table.table-box
                thead
                    tr
                        th
                            strong 상품정보
                        th 수량
                        th 상품금액
                        th 판매자
                        th 주문상태
                        th 주문일
                tbody
                    if orders.length
                        each order in orders
                            tr
                                td.product-info
                                    span
                                        img(src="/img/dbimg/"+order.th_name, alt="")
                                    div
                                        p=order.pro_name
                                        dl
                                            dt size :
                                            dd 10oz
                                td
                                    span=order.detail_cnt
                                td
                                    -var cost=(order.detail_price*order.detail_cnt).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"원";
                                    span=cost
                                td
                                    span=order.pro_com
                                td
                                    span=order.order_status
                                td
                                    span=order.order_date.format("yyyy-MM-dd")
                    else
                        tr
                            td(colspan="6")
                                span 장바구니에 담긴 상품이 없습니다.
include ../footer.jade
            