include ../header.jade
html
    head
        link(rel='stylesheet',href='/css/basic.css')
        link(rel='stylesheet',href='/css/product.css')
    body
        .container
            .product-name
                h2=result[0].pro_name
                div(style="margin-bottom:30px;")
                    hr
                .pro-img
                    .thumb-nail
                        img(src="/img/dbimg/"+result[0].th_name, alt="제품이미지")
                .info
                    .item
                        ul
                            li
                                strong 판매가격
                                div
                                    -var cost=result[0].pro_cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    strong #{cost}원
                                    
                            li
                                strong 제품코드
                                div
                                    strong BX-0122
                                    
                            li
                                strong 제조사
                                div
                                    strong=result[0].pro_com
                                    
                            li
                                strong 배송비
                                div
                                    strong 무료
                            li
                                strong 구매수량
                                span                                    
                                    input#pro-cnt(type="number" min="1" max="999" value="1")
                                    |  개
                                    input#pro_no(type="hidden" value=result[0].pro_no)   
                    div.detail-btn
                        a(href="")
                            em 장바구니
                        a(href='javascript:imedi()')
                            em 바로 구매
            .pro-detail
                div
                    img(src="/img/prodetail/itemdetail.jpg", alt="")
                div
                    img(src="/img/prodetail/itemmiddle.jpg", alt="")
                div
                    img(src="/img/dbimg/"+result[0].pro_content, alt="")
                div.readme
                    img(src="/img/prodetail/readme.jpg", alt="")
        script.
            function imedi(){
                var cnt = $('#pro-cnt').val();
                var pro_no=$('#pro_no').val();
                location.href='/imedi?cnt='+cnt+'&pro_no='+pro_no;
            }
include ../footer.jade
                    
                    


                        
                                    