include man-header.jade
html
    head
        link(rel='stylesheet',href='/css/management.css')
        link(rel='stylesheet',href='/css/basic.css')
        style.
            .paging ul li a:hover, .paging ul li a:focus {  
            color:#fff;  
            border:1px solid #2aaf56;  
            background-color:#2aaf56;  
            }            
    body
        .container
            
            .container-table100
                .wrap-table100
                    .table100
                        table
                            thead
                                tr.table100-head
                                    th.column1 번호
                                    th.column2 제목
                                    th.column3 작성일
                                    th.column4 수정
                                    th.column5(style="width: 7.5%") 삭제
                            tbody                            
                                if(result)
                                    each faq in result     
                                        tr
                                            td.column1(style="width: 7%;")=faq.faq_no
                                            td.column2(style="width: 63%;text-align:left;")=faq.faq_title
                                            td.column3(style="width: 15%")=new Date(faq.faq_date).format("yyyy-MM-dd")
                                            td.column4(style="width: 7.5%;padding-left:20px;"): a.rainbtnlist#modi(alt="수정" name=faq.faq_no)
                                            td.column5(style="width: 7.5%;padding-left:20px;"): a.rainbtnlist#delete(alt="삭제" name=faq.faq_no)
                                else
                                    tr
                                        td(colspan="5") 작성된 글이 없습니다.
                .div(style="display:block;width:100%;margin:10px 4px")
                    a#uploadfaq( href="/manager/faqupload") 글 등록

                .pagingdiv
                    .paging
                        -var pover=Math.trunc(pager.pagecnt/10)
                        if(pover)
                            if(pno<11)
                                - var n = 1 //시작페이지
                                - var max=10 //끝페이지
                                - var next=11 //다음10페이지
                                - var check=1 //다음,마지막페이지 체크
                            else
                                - var n=pno%max ==0 ? (Math.trunc(pno/max)-1)*max+1 : Math.trunc(pno/max)*max+1 //시작페이지
                                - var ip=Math.trunc(n/max) //시작페이지앞자리
                                - var fp=Math.trunc(pager.pagecnt/max) //마지막페이지앞자리
                                -var pna=pager.pagecnt-n //잔여페이지수
                                -var next=(ip+1)*max+1 //다음10페이지
                                -var prev=ip*max //전10페이지
                                if(ip == fp)
                                    -var max=n+pna
                                else
                                    -var max=n+9
                        else
                            - var n = 1
                            - var max=pager.pagecnt
                        span
                            ul
                                if(search)
                                    if(pno>10)
                                        li
                                            a#first(href="/manager/faq?page=1&search="+search style="height: 14px;")
                                                img(src="./img/dbackb.png")
                                    if(prev)
                                        li
                                            a#prev(href="/manager/faq?page="+prev+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                img(src="./img/backb.png")
                                    while n <= max
                                        li
                                            if(pno==n)
                                                a(href="/manager/faq?page="+n+"&search="+search style="color: #fff;border: 1px solid #2aaf56;background-color: #2aaf56;")=n++
                                            else
                                                a(href="/manager/faq?page="+n+"&search="+search)=n++

                                    if(ip != fp || check)
                                        li
                                            a#next(href="/manager/faq?page="+next+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                img(src="./img/forb.png")
                                        li
                                            a#final(href="/manager/faq?page="+pager.pagecnt+"&search="+search style="height: 14px;")
                                                img(src="./img/dforb.png")
                                else
                                    if(pno>10)
                                        li
                                            a#first(href="/manager/faq" style="height: 14px;")
                                                img(src="./img/dbackb.png")
                                    if(prev)
                                        li
                                            a#prev(href="/manager/faq?page="+prev style="padding: 6px 4px 4px 4px;height: 12px;")
                                                img(src="./img/backb.png")
                                    while n <= max
                                        li
                                            if(pno==n)
                                                a(href="/manager/faq?page="+n style="color: #fff;border: 1px solid #2aaf56;background-color: #2aaf56;")=n++
                                            else
                                                a(href="/manager/faq?page="+n)=n++

                                    if(ip != fp || check)
                                        li
                                            a#next(href="/manager/faq?page="+next style="padding: 6px 4px 4px 4px;height: 12px;")
                                                img(src="./img/forb.png")
                                        li
                                            a#final(href="/manager/faq?page="+pager.pagecnt style="height: 14px;")
                                                img(src="./img/dforb.png")
       script.
            $('.header-menu li a').removeClass('active') ;
            $('#faq').addClass('active');
            
            $("#searchbtn").click(function(){ //검색
                    var val=$("#searchval").val();
                    if(!val){
                            alert("검색어를 입력해주세요");
                            return;
                    }
                    location.href=location.href+"?val="+val;
            })
            $("a[id=modi]").click(function(){  //faq수정페이지
                    var num=$(this).attr("name");
                    href ="/manager/faqmodify?num="+num;
                    location.href =href;
            })
            $("a[id=delete]").click(function(){ //faq삭제
                    var num=$(this).attr("name");
                    console.log(num);
                    $.ajax({
                            url:"/manager/faqdelete",
                            type:"post",
                            dataType:'json',
                            data:{num:num},
                            success: function(result){
                                    if(result){
                                            alert("해당 글이 삭제 되었습니다.");
                                            location.reload();
                                    }else{
                                            alert("오류 발생");
                                    }
                            }
                    })
            })



include ../footer.jade